body {
    background-color: whitesmoke;
  }

  .heart {
    width: 20px;
  }

  .divider {
    padding-left: 5px;
    padding-right: 5px;
    color: #e3e3e3;
    font-size: 20px;
    font-weight: 100;  
    margin-block-start: 0;
    margin-block-end: 0;
  }

  .heart-filter {
    width: 14px;
  }

  .heart-filter-line {
    font-weight: 100;
    font-family: Roboto, sans-serif;
    padding-top: 10px;
  }

  .top-menu {
    float: left;
    padding-bottom: 30px;
    border-bottom: 1px solid #cecece;
  }

  .logo {
    width: 20%;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  .todo-list {
    background-color: white;
    margin: auto;
    width: 479px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #efefef;
    padding: 30px;
  }

  .todo-item {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #cecece;
    width: 100%;
    font-family: Roboto, sans-serif;
  }

  .todo-item-header {
    font-size: 20px;
    font-weight: 100;
    color: #333333;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .todo-item-rate {
    font-size: 16px;
    font-weight: 100;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .todo-item-desc {
    font-size: 14px;
    font-weight: 100;
    color: #535353;
  }

  .todo-search {
    height: 3.5rem;
    border-radius: 5px solid;
    width: 100%;
    font-size: 40px;
    font-weight: 100;
    font-family: Roboto, sans-serif;
  }
  
  .todo-search::placeholder {
    font-family: Roboto, sans-serif;
    font-weight: 100;
  }
  .completed-style {
    font-style: italic;
    color: #cdcdcd;
    text-decoration: line-through;
  }

  input[type="checkbox"] {
    margin-right: 10px;
    font-size: 30px;
  }
  